# node internals
/node_modules
bun.lockb
package-lock.json

# cached stores
/src/scripts/store
/src/scripts/stamps-slicer/store
/server-client/store
/server-services/store
/server-game/store
/store
/wiki/.vuepress/dist
/wiki/.vuepress/.temp

# my crap
/assets/0.18.2

# versioning (done by github)
/versionEnum.txt
/versionHash.txt

# plugins
/plugins

# other
/.vscode

# osx
.DS_Store
