# node internals
/node_modules
bun.lockb
package-lock.json

# cached stores
/server-client/store
/server-services/store
/server-game/store
/store

# my crap
/assets/0.18.2

# versioning (done by github)
/versionEnum.txt
/versionHash.txt

#other
/.vscode