# node internals
/node_modules
bun.lockb

# cached stores
**/store/

# vuepress
wiki/.vuepress/dist
wiki/.vuepress/.temp

# my crap
/assetsForLegacyShell

# versioning (done by github)
/versionEnum.txt
/versionHash.txt

# plugins
/plugins

# other
/.vscode

# osx
.DS_Store
 