:root {
    --customizer-skyColor: #85CC85;
    --customizer-diffuseColor: #85CC85;
}

img[src*="egg_icon.png"] {
    content: url("themes/whatsapptheme/img/egg_icon.png") !important;
}
img[src*="equipment.png"] {
    content: url("themes/whatsapptheme/img/equipment.png") !important;
}
img[src*="feedback.png"] {
    content: url("themes/whatsapptheme/img/feedback.png") !important;
}
img[src*="friends.png"] {
    content: url("themes/whatsapptheme/img/friends.png") !important;
}
img[src*="fullScreen.png"] {
    content: url("themes/whatsapptheme/img/fullScreen.png") !important;
}
img[src*="home.png"] {
    content: url("themes/whatsapptheme/img/home.png") !important;
}
img[src*="logo.png"] {
    content: url("themes/whatsapptheme/img/logo.png?v=1") !important;
}
img[src*="settings.png"] {
    content: url("themes/whatsapptheme/img/settings.png") !important;
}